.contato {
    background-color: #333;
    color: #FB4F14;
    padding: 1em 3em 3em;
}

.formulario-contato {
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
}

.formulario-contato label {
    display: block;
    line-height: 1.5em;
}

.formulario-contato label input, .formulario-contato label textarea {
    display: block;
    width: 19em;
    border-radius: 3px;
    padding: 0.3em 0.5em;
}

.formulario-contato label input {
    height: 1.5em;
}

.formulario-contato label textarea {
    height: 8em;
}

.paragrafo-contato {
    font-size: 1.2em;
    text-align: center;
    padding: 1.5em 0;
}

.formulario-contato label input:focus, .formulario-contato label textarea:focus {
    border: 1px solid #FB4F14;
}

@media only screen and (min-device-width : 60em) {

}