.contato {
    background-color: #333;
    color: #FB4F14;
    padding: 1em;
}

.fomulario-contato {
    padding: 1em;
}

.fomulario-contato label {
    display: block;
    line-height: 1.5em;
}

.fomulario-contato label input {
    display: block;
    width: 19em;
    height: 1.6em;
    border-radius: 3px;
}

.paragrafo-contato {
    font-size: 1.2em;
    text-align: center;
    padding: 1.5em 0;
}