@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #F0F0F0;
    line-height: 1.5em;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }