header {
    width: 100%;
}

.barra-navegacao {
    width: 100%;
    margin: 0 auto;
}

.barra-navegacao ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 70px;
    grid-template-areas:
        "nav-home nav-sobre-mim nav-logo nav-projetos nav-contato";
}

.barra-navegacao ul li {
    text-align: center;
    align-self: center;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    box-sizing: border-box;
    color: #FB4F14;
    font-weight: bold;
    position: relative;
}

.nav-links:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #f0f0f0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-links:hover:before {
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}

.nav-home {
    grid-area: nav-home;
}

.nav-sobre-mim {
    grid-area: nav-sobre-mim;
}

.nav-logo {
    grid-area: nav-logo;
}

.nav-projetos {
    grid-area: nav-projetos;
}

.nav-contato {
    grid-area: nav-contato;
}

.logo-simplificado {
    align-self: center;
    width: 40px;
    grid-area: logo;
}

.nav-nome {
    display: none;
}

@media only screen and (min-device-width : 40em) {
    .barra-navegacao ul {
        grid-template-columns: 15% 35% auto auto auto auto;
        grid-template-areas:
            "nav-logo nav-nome nav-home nav-sobre-mim nav-projetos nav-contato";
    }

    .nav-nome {
        display: inline;
    }

    .logo-nome {
        display: block;
        align-self: center;
        color: #FB4F14;
        font-size: 1em;
        font-weight: bold;
        text-align: left;
    }
}