header {
    width: 100%;
}

.barra-navegacao {
    width: max-content;
    margin: 0 auto;
}

.barra-navegacao ul {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 70px; 
}

.barra-navegacao ul li {
    display: inline-block;
    text-align: center;
    align-self: center;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 0.8em;
    box-sizing: border-box;
    color: #FB4F14;
    font-weight: bold;
    position: relative;
}

.nav-links:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #CB0112;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-links:hover:before {
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}

.logo-simplificado {
    align-self: center;
    width: 2em;
    transform: translate(15%, 15%);
}