.projetos {
    background-color: #f0f0f0;
    color: #FB4F14;
    display: grid;
    grid-template-rows: 5em 18em 18em;
    grid-template-areas: 
        "titulo-projetos";
}

.titulo-projetos {
    grid-area: titulo-projetos;
}

.artigo-projeto {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.artigo-projeto-titulo {
    margin-bottom: 0.8em;
}

.artigo-projeto-imagem {
    width: 20em;
    height: 12em;
    box-sizing: border-box;
    border: 0.1em solid #FB4F14;
}

.artigo-projeto-hover {
    width: 19.8em;
    height: 11.8em;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 2.6em;
    left: 0.1em;
    opacity: 0;
}

.artigo-projeto-hover:hover {
    opacity: 1;
    transition: 1s ease-in;
}

.lista-tecnologias-adventurer {
    display: grid;
    grid-template-columns: auto 4em 4em auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        ". html css ."
        ". javascript javascript .";
    grid-gap: 0.5em 0.5em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-adventurer-html {
    grid-area: html;
}

.item-adventurer-css {
    grid-area: css;
}

.item-adventurer-javascript {
    grid-area: javascript;
}

.lista-tecnologias-agenda {
    display: grid;
    grid-template-columns: auto 4em auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". python .";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-agenda-python {
    grid-area: python;
}

.item-tecnologia {
    border: 1px solid #FB4F14;
}