.sobre-mim {
    background-color: #333;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 2em 1em;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-rows: 25% 25% auto;
    grid-template-areas:
        "minha-foto"
        "hist-res"
        "art-hab";
}

.minha-foto {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    box-shadow: #000 0px 0px 5px;
    box-sizing: border-box;
    grid-area: minha-foto;
}

.historia-resumida {
    grid-area: hist-res;
    align-self: center;
}

.artigo-habilidade {
    grid-area: art-hab;
    background-color: #444;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% auto;
}

.titulo-sobre-mim {
    align-self: center;
    position: relative;
}

.titulo-sobre-mim::after {
    content: "";
    border-bottom: 1px solid #222;
    width: 100%;
    height: 100%;
    top: 70%;
    left: 0;
    position: absolute;
    transform: scaleX(0.9);
}

.tabela-habilidade {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4em 4em;
    grid-template-rows: 4em 4em;
    grid-template-areas:
        "html css"
        "javascript python";
    grid-gap: 50px 50px;
    align-self: center;
}

.item-tabela-habilidade {
    box-sizing: border-box;
    text-indent: -999px;
}

.item-html {
    grid-area: html;
    background: url(../../images/svg/HTML5.svg);
}

.item-css {
    grid-area: css;
    background: url(../../images/svg/CSS3.svg);
    background-size: 4em 4em;
}

.item-javascript {
    grid-area: javascript;
    background: url(../../images/svg/JavaScript.svg);
}

.item-python {
    grid-area: python;
    background: url(../../images/svg/Python.svg);
    background-size: 5em 5em;
}