body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100% auto auto;
    grid-template-areas: 
        "tela-inicial"
        "sobre-mim"
        "projetos";
}

.tela-inicial {
    grid-area: tela-inicial;
}

.sobre-mim {
    grid-area: sobre-mim;
}

.projetos {
    grid-area: projetos;
}

.titulo-secao {
    margin: 0 auto;
    align-self: center;
    font-weight: bold;
    font-size: 2em;
}